.row_background{
    background: lightblue;    ;

}

.td_s_i{
    width: 150px;
    height: 150px;
    border-bottom: 2px solid purple;
    border-right: 2px solid purple;

}

.td_s_m{
    width: 150px;
    height: 150px;
    border-bottom: 2px solid purple;
}

.td_s_d{
    width: 150px;
    height: 150px;
    border-bottom: 2px solid purple;
    border-left: 2px solid purple;
}

.td_m_i{
    width: 150px;
    height: 150px;
    border-right: 2px solid purple;
    border-bottom: 2px solid purple;
}

.td_m_m{
    width: 150px;
    height: 150px;
    border-bottom: 2px solid purple;
}

.td_m_d{
    width: 150px;
    height: 150px;
    border-bottom: 2px solid purple;
    border-left: 2px solid purple;
}

.td_a_i{
    width: 150px;
    height: 150px;
    border-right: 2px solid purple;
}


.td_a_d{
    width: 150px;
    height: 150px;
    border-left: 2px solid purple;
}

.background{
    width: 100%;
    height: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.ocupada{
    background-image: url("../img/duck.png");
    background-size: 80px 80px;
    background-repeat: no-repeat;
}

.ocupada_1{
    background-image: url("../img/duck1.png");
    background-size: 80px 80px;
    background-repeat: no-repeat;
}

.reset_button{
    color: lightyellow;
}